{% extends "layout.html" %}

{% block bootstrap_2 %}
    {% for new in News %}
        <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id= "heading{{loop.index}}">
            <h2 class="mb-0">
                <h6 class="align_right">{{new[2]}}</h6>
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapse{{loop.index}}">
                    <!-- Titre -->{{new[1]}}
                </button>
            </h2>
            </div>
            <div id="collapse{{loop.index}}" class="collapse {% if loop.index == 1 %}show{% endif %}" aria-labelledby="heading{{loop.index}}" data-parent="#accordionExample">
            <div class="card-body">
                <!-- Date -->
                    <!-- <h6 class="align_right">{{new[2]}}</h6> -->
                <!-- Description -->
                    <p class="card-text">{{new[4]}}</p>
                <!-- Link -->
                <a class="nav-item nav-link" href={{new[3]}}>Lien</a>
                <a class="nav-item nav-link">{% for flux in Flux %}{{flux[4]}}{% endfor %}</a>
            </div>
            </div>
        </div>
        </div>
    {% endfor %}
{% endblock bootstrap_2 %}
