<html lang="fr">
<head>
    <link href="{{ url_for('static', filename='/css/style.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="icon" href="{{ url_for('static', filename = 'images/simplon_logo.svg') }}" type="image/x-icon"/> -->  
    <title class = "articles">Aggregateur SIMPLON</title>
    <script>
        function refresh_date() {
            var madate = new Date();  
            annees   = madate.getFullYear();
            mois    = ('0'+(madate.getMonth()+1)).slice(-2);
            jours    = ('0'+madate.getDate()   ).slice(-2);
            heures   = ('0'+madate.getHours()  ).slice(-2);
            minutes = ('0'+madate.getMinutes()).slice(-2);
            secondes = ('0'+madate.getSeconds()).slice(-2);
            date_simplon = jours+"/"+mois+"/"+annees;
            heure_simplon = heures+":"+minutes+":"+secondes;
            document.getElementById("date_SIMPLON").innerHTML=date_simplon;
            document.getElementById("heure_SIMPLON").innerHTML=heure_simplon;
            timer = setTimeout("refresh_date()",1000);
        }

        // function updateBtn_Add() {
        //     document.getElementById("button_+").innerHTML = "Hello World"; //mettre le lien d'ajout de source
        // }

        // function updateBtn_Remove() {
        //     document.getElementById("button_+").innerHTML = <a href="{{ url_for('get_home') }}">Add new</a>;
        // }
    </script>
</head>
<body onload="refresh_date()">
    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <!-- <a id="heure_SIMPLON"></a> -->
        <h1 class="navbar-brand" style="font-weight: bolder; font-size: x-large;">News Aggregateur</h1>
        <!-- <a class="navbar-brand" id="date_SIMPLON"></a>
        <a class="navbar-brand" id="heure_SIMPLON"></a> -->
        <!-- <nav aria-label="breadcrumb">
            <ol class="breadcrumb"> -->
        <!-- <a class="navbar-brand" href="{{ url_for('post_ajoutFlux') }}">Ajouter une source</a> -->
        <a class="navbar-brand" href="{{ url_for('get_flow')}}" style="font-size: medium;transform: translate(-19px, 0px);">Add New Source</a>
        <a class="navbar-brand" href="{{ url_for('get_diagram')}}" style="font-size: medium;transform: translate(-69px, 0px);">About</a>
        <ol>
            <a class="navbar-brand" style="color: aqua;transform: translate(-159px, 7px);">{{pseudo}}</a>
            <a class="navbar-brand" href="{{ url_for('get_welcome_page') }}" style="font-size: medium;transform: translate(-169px, 5px);">Log out</a>
        </ol>
        <form class="form-inline" action ="/recherche" method="GET">
            <span class="navbar-text" id="heure_SIMPLON"></span>
            <input class="form-control mr-sm-2" type="search" placeholder="Search ..." aria-label="Search" name="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
        

        <!-- <li class="breadcrumb-item"><a href="'{{ url_for('get_home') }}';">Se connecter</a></li>
        <li class="breadcrumb-item"><a href="'{{ url_for('get_home') }}';">Créer un compte</a></li>
        <li class="breadcrumb-item"><a href="'{{ url_for('get_home') }}';">Se déconnecter</a></li> -->

        <!-- <form class="form-inline">
            <span class="navbar-text" id="heure_SIMPLON"></span>
            <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
        </form>
      </nav> -->
    <!-- <div class="menuBar">
        <label for="Tags">Choisissez un Tag:</label>
        <input list="Tags"/>
    
        <datalist id="Tags">
            <option value="Chocolate">
            <option value="Coconut">
            <option value="Mint">
            <option value="Strawberry">
            <option value="Vanilla">
        </datalist>
    </div> -->
    <!-- {% block SearchBar %}

    {% endblock SearchBar %} -->

    <!-- <nav class="menu">
        <h1 class="articles">Aggregateur SIMPLON</h1>
        <h2 class="articles">
            <a id="date_SIMPLON"></a>
            <br>
            <a id="heure_SIMPLON"></a>
        </h2>
        <div class="ConsultNav">
            <div>
                <h3 class="menuText">Sources  :    -->
                    <!-- <button onclick="updateBtn_Add()">+</button> -->
                    <!-- <button onclick="window.location.href = '{{ url_for('get_home') }}';">+</button>
                </h3> -->
                <!-- <div class="scrollmenu">
                    {% block Remove_Flux %}

                    {% endblock Remove_Flux %} -->
                    <!-- {% set myList = [1,2,3,4,5] %} -->
                <!-- </div>
            </div>
        </div>
    </nav> -->
    <div id="c_container">          
        <div class="content">
            <!-- {% block content %}
    
            {% endblock content %} -->
            
            {% block bootstrap_2 %}
    
            {% endblock bootstrap_2 %}

            <!-- <div class="clear"></div> -->
        </div>
    </div>
</body>
    <!-- <script src="bootstrap/js/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script> -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</html>